.main-hero-seation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        url(./../images/ujjain.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.main-content{
    margin-left: 3%;
    margin-top: 35px;

}
.destination-container{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
padding:40px;
justify-items:center;
background: transparent;   /* white background remove */
}

/* Card */

.destination-card{
position:relative;
width:300px;
border-radius:12px;
overflow:hidden;
}

/* Image */

.destination-card img{
width:100%;
height:250px;
object-fit:cover;
}

/* Text */

.destination-card h3{
position:absolute;
bottom:10px;
left:15px;
color:white;
font-size:22px;
}

