.main-hero-seation{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(./../images/ujjain.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 0.9;

}
