.main-hero-seation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        url(./../images/ujjain.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.main-content{
    margin-left: 3%;
    margin-top: 35px;

}
/* Facts Section */

.facts-section{
padding:70px 20px;
text-align:center;
background:#f5f5f5;
}

.facts-title{
font-size:40px;
margin-bottom:50px;
}

/* container */

.facts-container{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
padding:20px;
}

/* card */

.fact-card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.fact-card h1{
font-size:40px;
color:#e6501b;
margin-bottom:10px;
}

.fact-card p{
font-size:18px;
}