.main-hero-seation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        url(./../images/ujjain.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.main-content{
    margin-left: 3%;
    margin-top: 35px;

}
/* Page */

.contact-section{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f5f5f5;
}

/* Box */

.contact-box{
width:420px;
background:white;
padding:40px;
border-radius:12px;
box-shadow:0 8px 25px rgba(0,0,0,0.15);
text-align:center;
}

/* Title */

.contact-title{
margin-bottom:25px;
font-size:30px;
color:#e6501b;
}

/* Form */

.contact-box form{
display:flex;
flex-direction:column;
}

.contact-box input,
.contact-box textarea{
margin-bottom:15px;
padding:12px;
border:1px solid #ccc;
border-radius:6px;
font-size:15px;
}

/* Button */

.contact-box button{
padding:12px;
border:none;
background:#e6501b;
color:white;
font-size:16px;
border-radius:6px;
cursor:pointer;
}

.contact-box button:hover{
background:#c43c0e;
}